@import "mixins";

$secondary: rgba(0, 0, 0, 0.6);
$accent: rgb(29, 29, 29);
$muted: rgba(51, 51, 51, 0.15);

$black: rgba(22, 22, 22, 0.904);
$white: rgb(240, 240, 240);
$red: #f5635e;

$small: 0.5rem;

$projectgap: 5rem;
