@import "./vars";

@font-face {
  font-family: "SFCompactDisplay";
  src: url("../font/sf.woff");
}

html {
  overflow-y: scroll;
  scrollbar-color: gray transparent;

  ::-webkit-scrollbar {
    width: 0.4rem;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0.5rem;
  }
}

html > body {
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  font-family: "SFCompactDisplay";
  color: rgb(54, 54, 54);

  h1,
  h2 {
    color: $black !important;
  }
}

.rounded {
  border-radius: $small;
}

.button {
  background-color: $accent;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: $small;
  border-radius: $small;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: $secondary;
    color: $white;
  }
}

.button-sec {
  background-color: $muted;
  color: $accent;

  &:hover {
    background-color: $muted;
    color: $accent;
  }
}

img {
  border-radius: $small;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  font-size: small;
  color: $secondary;
  font-style: italic;
}

hr {
  border: none;
  border-top: solid 1px;
  opacity: 0.5;
}
hr {
  border: none;
  border-top: solid 1px;
  opacity: 0.5;
}
