@import "./vars";

@font-face {
  font-family: "SFCompactDisplay";
  src: url("../font/sf.woff");
}

html {
  overflow-y: scroll;
  scrollbar-color: gray transparent;

  ::-webkit-scrollbar {
    width: 0.4rem;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0.5rem;
  }
}

html > body {
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  font-family: "SFCompactDisplay";
}

.rounded {
  border-radius: $small;
}

.button {
  background-color: $blue;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: $small;
  border-radius: $small;
}

.button-sec {
  background-color: $bgblue;
  color: $blue;
}

img {
  border-radius: $small;
  margin: 0 auto;
}
